/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-top-color: #1d72b8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: block;
  margin: 20px auto;
  display: none;
}

.hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.form{
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 40px;
}
.gallery{display: flex;
  gap: 24px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1680px;
  height: auto;
  margin: 0 auto;
  flex-basis: calc((100% - 24px) / 5);
}
.gallery li{
  border: 1px solid black;
  border-radius: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 360px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
.info{
  display: flex;
margin-left: 10px;
gap: 5px;
}
p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
img{
  width: 360px;
  height: 300px;
}
input{
  width: 360px;
    height: 20px;
    display: flex;
    margin-bottom: 10px;
    border: 5px solid grey;
}

button{
  display: flex;
margin: 0 auto;
border: none;
color: white;
background-color: blue;
border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  justify-content: center;
  align-items: center;

}
button:hover,
button:focus{
  background-color: #1d72b8;
}